.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/


BoardService/target/m2e-wtp/web-resources/META-INF/maven/com.springbook/biz/pom.properties
bootstrap_morris/target/m2e-wtp/web-resources/META-INF/maven/com.raizcorp/morris/pom.properties
raiz_m_project_1/target/m2e-wtp/web-resources/META-INF/maven/com.seoulmanager/mobile/pom.properties
raiz_project_1/target/m2e-wtp/web-resources/META-INF/maven/com.raizcorp/morris/pom.properties
raizcorp_test/target/m2e-wtp/web-resources/META-INF/maven/com.raizcorp/responsive/pom.properties
raizcorp_2/target/m2e-wtp/web-resources/META-INF/maven/com.raizcorp2/homepage/pom.properties
raizcorp/target/m2e-wtp/web-resources/META-INF/maven/com.raizcorp/homepage/pom.properties
evergreen/target/m2e-wtp/web-resources/META-INF/maven/com.company/evergreen/pom.properties

Java_Example/

