	
	@media all and (min-width: 240px) {
		.banner-left-img {
			width: 65% !important;
		}

		.banner-div {
			height: 10.5rem;
			z-index: 2;
		}
	
		.banner-right-img {
			width: 96px;
			height: 380px;
			display: block;
			margin: -1.5rem auto 0 auto !important;
		}
		
		.banner-left-p-1 {
			font-size: 0.6rem;
			margin: 0 24% 1rem 24%;
		}

		.banner-left-p-2 {
			font-size: 0.6rem;
			margin: 0 24%;
		}
		
		.download-progressbar {
			width: 65%;
			margin: 0 0 0 50px;
		}
	}
/* Main Setion right img ¹ÝÀÀÇü css */
	@media all and (min-width: 320px) {
		.banner-left-img {
			width: 70% !important;
		}

		.banner-div {
			height: 10.5rem;
			z-index: 2;
		}
	
		.banner-right-img {
			width: 96px;
			height: 380px;
			display: block;
			margin: -1.5rem auto 0 auto !important;
		}
		
		.banner-left-p-1 {
			font-size: 0.8rem;
			margin: 0 24% 1rem 24%;
		}

		.banner-left-p-2 {
			font-size: 0.8rem;
			margin: 0 24%;
		}

		.download-div-h3 {
			font-size: 1.6rem;		
		}

		.download-h3 {
			text-align: left;
			padding: 0 0 1rem 70px;
		}

		.download-p-0 {
			font-size: 0.8rem;
			margin-bottom: 0;
			padding-left: 70px;
			text-align: left;
		}
		
		.download-p-2 {
			font-size: 0.8rem;
			margin-bottom: 2rem;
			padding-left: 70px;
			text-align: left;
		}
		
		.download-progressbar {
			width: 65%;
			margin: 0 0 0 50px;
		}
		
		.download-bar-1 {
			max-width: 100%;
			font-size: 1.2rem !important;
			padding: 0 0 0 70px !important;
			color: #787878 !important;
			line-height: 25px !important;
		}
		
		.download-bar-2 {
			max-width: 100%;		
			font-size: 1.2rem !important;
			padding: 0 0 2rem 70px !important;
			color: #787878 !important;
			line-height: 25px !important;
		}
		
		.download-span-0 {
			padding-left: 50px;
			font-size: 0.3rem;
		}
		
		.download-span-1 {
			padding-left: 3rem;
			font-size: 0.3rem;
		}
		
		.download-span-2 {
			padding-left: 50px;
			color: rgb(191, 191, 191);
			font-size: 1rem;
		}
		
		.download-span-3 {
			padding-left: 1.2rem;
			color: rgb(191, 191, 191);
			font-size: 1rem;
		}
		
		.download-device-mobile {
			max-width: 3.5rem !important;
			margin: 0 0 0.5rem -6.5rem;
		}
		
		.download-device-tab {
			max-width: 14rem !important;
			margin: 2rem 0 0 -4rem;
		}
		
		.download-device-macbook {
			max-width: 18rem !important;
			margin: 2rem 0 0 5rem;
		}
		
		.about-h2 {
			text-align: left;
			padding: 0 0 2rem 70px;
		}
		
		.about-p-0 {
			text-align: left;
			margin: 0 0 2rem 70px;
			font-size: 0.8rem;
		}
		
		.about-p-1 {
			text-align: left;
			margin: 0 0 2rem 20px;
			font-size: 0.7rem;
		}
		
		.about-div-bar {
			max-width: 100%;
			padding-left: 70px;
		}
		
		.about-span-0 {
			padding-left: 70px;
			font-size: 0.3rem;
		}
		
		.about-span-1 {
			padding-left: 3.7rem;
			font-size: 0.3rem;
		}
		
		.about-span-2 {
			padding-left: 2.8rem;
			font-size: 0.3rem;
		}
		
		.smart-iwatch {
			width: 65% !important;
			margin: 80px auto 3rem 6.5rem !important;
		}
		
		.gallery-section {
			padding: 3rem 0 3rem 0;
		}
		
		.features-div-0 {
			max-width: 75%;
		}
		
		.features-div-1 {
			margin-top: 0;
			margin-bottom: 0;
		}
		
		.features-p-0 {
			margin-bottom: -0.5rem;
			font-size: 10px !important;	
		}
	
		.features-p-1 {
			font-size: 10px !important;	
		}
		
		.features-li-0 {
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 15px !important;
		}
		
		.features-li-1 {
			margin-bottom: 0;
			padding-bottom: 15px !important;
		}
		
		.features-li>h6 {
			margin-bottom: 0;
			font-weight: bold;
		}
		
		.video-h2 {
			font-size: 29px;
			padding-bottom: 2rem;
		}

		.video-div-1 {
			width: 100%;
			text-align: left;
			padding-left: 70px;
		}

		.video-img-1 {
			max-width: 10rem !important;
			margin: -12rem 0 0 2.5rem;
		}
		
		.video-img-2 {
			max-width: 19rem !important;
			margin: -15rem 0 2rem 6.5rem;
		}
		
		.video-div-bar {
			width: 94% !important;
			padding-left: 70px !important;
			padding-right: 0;
		}
		
		.video-text-1 {
			text-align: left;
			padding: 0 0 2rem 20px;
			font-size: 10px;
		}
		
		.video-text-2 {
			text-align: left;
			padding-left: 20px;
			font-size: 10px;
		}
		
		.video-span-0 {
			font-size: 0.3rem;
			padding-left: 50px;
		}
		
		.video-span-1 {
			font-size: 0.3rem;
			padding-left: 11rem;
		}
		
		.video-span-2 {
			padding-left: 50px;
			font-size: 0.3rem;
			color: rgb(191, 191, 191);
		}
		
		.video-span-3 {
			font-size: 0.3rem;
			padding-left: 6.8rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-0 {
			font-size: 0.8rem;
			margin-bottom: 0;
		}
		
		.video-p-1 {
			font-size: 0.3rem;
			padding-left: 18.8rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-2 {
			font-size: 0.3rem;
			padding-left: 18.8rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-3 {
			font-size: 0.8rem;
			margin-bottom: 3rem;
		}
		
		.trademark-div-0 {
			padding-top: 15px;
			text-align: left;
			padding-left: 70px;
		}
		
		.trademark-div-1 {
			margin: 0 0 2rem 0px;
		}
		
		.trademark-p-0 {
			margin-bottom: 0;
			font-size: 0.3rem;
		}
		
		.trademark-div-0 .container {
			padding-left: 0;
		}
		
		.trademark-image {
			max-width: 45%;
			margin: 2rem auto 7rem 8.5rem;
		}
		
		.trademark-progress-bar-wrapper {
		    padding-left: 15px;
		    padding-right: 0;   	
	   	}
	   	
	   	.trademark-div-bar {
			padding-left: 0 !important;
			width: 100% !important;
		}
		
		.trademark-text-1 {
			text-align: left;
			padding-left: 0;
			font-size: 0.3rem;
		}
		
		.trademark-span-0 {
			font-size: 0.3rem;
		}
		
		.trademark-span-1 {
			font-size: 0.3rem;
			padding-left: 9rem;
		}
		
		.communication-section {
			padding: 5rem 0 5rem 0;
		}
		
		.communication-p-0 {
			font-size: 0.6rem;
			margin-bottom: 0;
			margin-left: 2px;
			margin-right: 3.7rem;
		}
		
		.contact-img {
			max-width: 20px !important;
			margin-top: 75px !important;
		}
		
		.contact-div-1 {
			padding: 5px;
			text-align: center;
			background-color: darkgray !important;
			border-radius: 0;
		}
		
		.contact-div-1>div {
			margin-bottom: 25px;
		}
		
		.contact-h1 {
			font-size: 2rem;
		}
		
		.contact-li {
			margin-bottom: 15px !important;
		}
		
		.contact-h4 {
			font-size: 1rem;
		}
		
		.contact-input {
			height: 30px !important;
			font-size: 0.6rem;
			width: 90%;
			margin: 0 auto;
		}
		
		.contact-input-message {
			height: 50px !important;
			font-size: 0.6rem;
			width: 90%;
			margin: 0 auto;
		}
		
		.contact-button {
			height: 20px !important;
			width: 30% !important;
			margin: 0 auto;
			display: block;
			padding: 0 !important;
			font-size: 13px;
		}
		
		.introduce-div-1 {
			max-width: 90%;
			margin: 0 auto;
		}
		
		.footer-p-0 {
			font-size: 35px;
			color: #787878;
			margin-bottom: 100px;
		}
		
		.footer-p-1 {
			font-size: 23px;
			font-weight: bold;
			margin-bottom: 3px;
		}
		
		.footer-p-2 {
			font-size: 10px;
			margin-bottom: -7px;
		}
		
		.footer-p-3 {
			font-size: 10px;
			margin-bottom: -7px;
			padding-right: 14px;
		}
		
		.footer-p-4 {
			font-size: 10px;
			margin-bottom: -7px;
			padding-right: 44px;
		}
		
		.footer-p-5 {
			font-size: 10px;
			margin-bottom: -7px;
			padding-right: 28px;
		}
		
		.footer-p-6 {
			font-size: 10px;
			margin-bottom: 60px;
			padding-left: 5px;
		}
		
		.footer-p-7 {
			font-size: 10px;
		}
	}
	
	@media all and (min-width: 576px) {
		.banner-left-img {
			width: 75% !important;
		}
		
		.banner-right-img {
			width: 20%;
			height: auto;
			display: block;
			margin: -2.5rem auto 0 auto !important;
		}
		
		.banner-left-p-1 {
			font-size: 0.8rem;
			margin: 0 0 1rem 0;
		}

		.banner-left-p-2 {
			font-size: 0.8rem;
			margin: 0 5.6rem;
		}
		
		.download-h3 {
			text-align: left;
			padding: 0 0 1rem 90px;
		}
		
		.download-p-0 {
			font-size: 0.9rem;
			margin-bottom: 0;
			padding-left: 90px;
			text-align: left;
		}
		
		.download-p-2 {
			font-size: 0.9rem;
			margin-bottom: 2rem;
			padding-left: 90px;
			text-align: left;
		}
		
		.download-bar-1 {
			max-width: 100%;
			font-size: 1.2rem !important;
			padding: 0 0 1rem 90px !important;
			color: #787878 !important;
		}
		
		.download-bar-2 {
			max-width: 100%;		
			font-size: 1.2rem !important;
			padding: 0 0 2rem 90px !important;
			color: #787878 !important;
		}
		
		.download-progressbar {
			width: 70%;
			margin: 0 0 0 70px;
		}
		
		.download-span-0 {
			padding-left: 70px;
			font-size: 0.3rem;
		}
		
		.download-span-1 {
			padding-left: 3.4rem;
			font-size: 0.3rem;
		}
		
		.download-span-2 {
			padding-left: 70px;
			color: rgb(191, 191, 191);
			font-size: 1rem;
		}
		
		.download-span-3 {
			padding-left: 1.6rem;
			color: rgb(191, 191, 191);
			font-size: 1rem;
		}
		
		.download-device-macbook {
			max-width: 20rem !important;
			margin: 2rem 0 0 6rem;
		}
		
		.download-device-tab {
			max-width: 15rem !important;
			margin: 0 0 0 -2rem;
		}
		
		.download-device-mobile {
			max-width: 3.5rem !important;
			margin: 0 0 0.5rem -7rem;
		}
		
		.features-div-0 {
			max-width: 50%;
		}
		
		.features-div-1 {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
		}
		
		.about-p-0 {
			text-align: left;
			margin: 0 0 2rem 20px;
			font-size: 0.9rem;
		}
		
		.about-h2 {
			text-align: left;
			padding: 0 0 2rem 20px;
		}
		
		.about-div-bar {
			max-width: 100%;
			padding-left: 20px;
		}
		
		.about-span-0 {
			padding-left: 20px;
			font-size: 0.3rem;
		}
		
		.about-span-1 {
			padding-left: 4.3rem;
			font-size: 0.3rem;
		}
		
		.about-span-2 {
			padding-left: 3.3rem;
			font-size: 0.3rem;
		}
		
		.smart-iwatch {
			width: 65% !important;
			margin: 80px auto 3rem 4.5rem !important;
		}
		
		.video-img-2 {
			max-width: 20rem !important;
			margin: -15rem 0 2rem 6rem;
		}
		
		.video-h2 {
			font-size: 29px;
			padding-bottom: 1rem;
		}
		
		.video-p-0 {
			font-size: 0.9rem;
			margin-bottom: 0;
		}
		
		.video-p-3 {
			font-size: 0.9rem;
			margin-bottom: 2rem;
		}
		
		.video-div-bar {
			max-width: 100%;
			width: 94% !important;
			padding-left: 20px !important;
			padding-right: 0;
		}
		
		.video-span-1 {
			font-size: 0.3rem;
			padding-left: 12.3rem;
		}
		
		.video-span-2 {
			padding-left: 0;
			font-size: 0.9rem;
			color: rgb(191, 191, 191);
		}
		
		.video-span-3 {
			font-size: 0.9rem;
			padding-left: 6.9rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-1 {
			font-size: 0.3rem;
			padding-left: 16.7rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-2 {
			font-size: 0.3rem;
			padding-left: 16.7rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.trademark-div-0 {
			padding-top: 15px;
			text-align: left;
			padding-left: 0;
		}
		
		.trademark-div-1>h2 {
			margin: 0 0 2rem 20px;
		}
		
		.trademark-p-0 {
			margin-left: 20px;
			margin-bottom: 0;
			margin-right: 31px;
			font-size: 0.9rem;
		}
		
		.trademark-span-0 {
			font-size: 0.3rem;
		}
		
		.trademark-span-1 {
			font-size: 0.3rem;
			padding-left: 10rem;
		}
		
		.trademark-image {
			max-width: 60%;
			margin: 1rem auto 7rem 6rem;
		}
		
		.trademark-div-bar {
			max-width: 100%;
			padding-left: 0 !important;
			width: 97% !important;
		}
	}
	
	@media all and (min-width: 768px) {
		.banner-left-img {
			width: 65% !important;
		}
		
		.banner-right-img {
			width: 16%;
			height: auto;
			display: block;
			margin: -7rem auto 0 auto !important;
		}
		
		.banner-left-p-1 {
			font-size: 0.9rem;
			margin: 0 0 1rem 0;
		}

		.banner-left-p-2 {
			font-size: 0.9rem;
			margin: 0 9.9rem;
		}
		
		.download-h3 {
			text-align: left;
			padding: 0 0 0 20px;
		}

		.download-h3>h2 {
			font-size: 29px;
		}

		.download-p-0 {
			font-size: 0.8rem;
			margin-bottom: 0;
			padding-left: 20px;
			text-align: left;
		}
		
		.download-p-2 {
			font-size: 0.8rem;
			margin-bottom: 2rem;
			padding-left: 20px;
			text-align: left;
		}
		
		.download-bar-1 {
			max-width: 100%;
			font-size: 1.1rem !important;
			padding: 0 0 0 20px !important;
			color: #787878 !important;
		}
		
		.download-bar-2 {
			max-width: 100%;		
			font-size: 1.1rem !important;
			padding: 0 0 2rem 20px !important;
			color: #787878 !important;
		}
		
		.download-span-0 {
			padding-left: 0;
			font-size: 0.3rem;
		}

		.download-span-1 {
			padding-left: 2.85rem;
			font-size: 0.3rem;
		}
		
		.download-span-2 {
			padding-left: 0;
			color: rgb(191, 191, 191);
			font-size: 0.9rem;
		}
		
		.download-span-3 {
			padding-left: 1.35rem;
			color: rgb(191, 191, 191);
			font-size: 0.9rem;
		}
		
		.download-device-macbook {
			max-width: 23rem !important;
			margin: 2.5rem auto 0 2rem;
		}
		
		.download-device-tab {
			max-width: 19rem !important;
			margin: 0 0 0 -1rem;
		}
		
		.download-device-mobile {
			max-width: 4.5rem !important;
			margin: 0 0 0 6.5rem;
		}
		
		.download-progressbar {
			width: 90%;
			margin: 0;
		}
		
		.features-div-0 {
			max-width: 35%;
		}
		
		.features-div-1 {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
		}
		
		.about-h2>h2 {
			font-size: 29px;
		}
		
		.about-p-0 {
			text-align: left;
			margin: 0 0 2rem 20px;
			font-size: 1rem;
		}
		
		.about-span-1 {
			padding-left: 1.65rem;
			font-size: 0.3rem;
		}
		
		.about-span-2 {
			padding-left: 1.7rem;
			font-size: 0.3rem;			
		}
		
		.smart-iwatch {
			width: 85% !important;
			margin: 80px 0 3rem 1.5rem !important;
		}
		
		.video-img-2 {
			max-width: 19rem !important;
			margin: 2rem 0 0 0.5rem;
		}
		
		.video-h2 {
			font-size: 29px !important;
			padding-bottom: 1rem;
		}
		
		.video-p-0 {
			font-size: 0.9rem;
			margin-bottom: 0;
		}
		
		.video-p-3 {
			font-size: 0.9rem;
			margin-bottom: 1rem;
		}
		
		.video-div-bar {
			max-width: 100%;
			width: 100% !important;
			padding-left: 20px !important;
			padding-right: 0;
		}
		
		.video-span-1 {
			font-size: 0.3rem;
			padding-left: 7.6rem;
		}
		
		.video-span-2 {
			padding-left: 0;
			font-size: 0.9rem;
			color: rgb(191, 191, 191);
		}
		
		.video-span-3 {
			font-size: 0.9rem;
			padding-left: 3.8rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-1 {
			font-size: 0.7rem;
			padding-left: 10.4rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-2 {
			font-size: 0.7rem;
			padding-left: 10.4rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		#trademark {
			padding-bottom: 150px;
		}
		
		.trademark-div-0 {
			padding-top: 15px;
			text-align: left;
			padding-left: 0;
		}
		
		.trademark-div-1>h2 {
			font-size: 27px !important;
			margin: 0 0 2rem 20px;
		}
		
		.trademark-div-1 {
			font-size: 27px !important;
			margin: 0 0 1rem 0px;
		}
		
		.trademark-div-bar {
			max-width: 100%;
			padding-left: 0 !important;
			width: 100% !important;
		}
		
		.trademark-span-1 {
			font-size: 0.3rem;
			padding-left: 4.8rem;
		}
		
		.trademark-image {
			max-width: 80%;
			margin: -1rem 0 7rem 4rem;
		}
		
		.trademark-p-0 {
			margin-bottom: 0;
			margin-left: 20px;
			margin-right: 0;
			font-size: 1rem;
		}
	}
	
	@media all and (min-width: 992px) {
		.banner-left-img {
			width: 100% !important;
		}
		
		.banner-right-img {
			width: 27%;
			height: auto;
			margin: 0 auto 0 auto !important;
		}

		.banner-left-p-1 {
			font-size: 0.9rem;
			margin: 0 0 1rem 0;
		}
		
		.banner-left-p-2 {
			font-size: 0.8rem;
			padding-left: 3.2rem;
			margin: 0 3.2rem 0 0 !important;
			width: 87%;
		}
		
		.fadeInLeft {
			position: relative;
			top: 4.5rem;
			z-index: 2;
		}
		
		.download-h3 {
			text-align: left;
			padding: 0 0 1rem 20px;
		}
		
		.download-h3>h2 {
			font-size: 37px;
		}
		
		.download-p-0 {
			font-size: 0.9rem;
			margin-bottom: 0;
			padding-left: 20px;
			text-align: left;
		}
		
		.download-p-2 {
			font-size: 0.9rem;
			margin-bottom: 2rem;
			padding-left: 20px;
			text-align: left;
		}
		
		.download-bar-1 {
			max-width: 100%;
			font-size: 1.1rem !important;
			padding: 0 0 1rem 20px !important;
			color: #787878 !important;
		}
		
		.download-bar-2 {
			max-width: 100%;		
			font-size: 1.1rem !important;
			padding: 0 0 2rem 20px !important;
			color: #787878 !important;
		}
		
		.download-span-1 {
			padding-left: 4.7rem;
			font-size: 0.3rem;
		}
		
		.download-span-2 {
			padding-left: 0;
			color: rgb(191, 191, 191);
			font-size: 0.9rem;
		}
		
		.download-span-3 {
			padding-left: 3.2rem;
			color: rgb(191, 191, 191);
			font-size: 0.9rem;
		}
		
		.download-progressbar {
			width: 100%;
			margin: 0;
		}
		
		.download-device-macbook {
			max-width: 25rem !important;
			margin: 2.5rem auto 0 auto;
		}
		
		.download-device-tab {
			max-width: 19rem !important;
			margin: 3.5rem 0 0 0;
		}
		
		.download-device-mobile {
			max-width: 4.5rem !important;
			margin: 0 0 0 1rem;
		}
		
		.features-div-0 {
			max-width: 100%;
		}
		
		.features-div-1 {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
		}
		
		.about-p-0 {
			text-align: left;
			margin: 0 2rem 2rem 20px;
			font-size: 0.9rem;
		}
		
		.about-h2>h2 {
			font-size: 40px;
		}
		
		.smart-iwatch {
			width: 75% !important;
			margin: 50px auto 3rem auto !important;
		}
		
		.about-div-bar {
			max-width: 94%;
			padding-left: 20px !important;
		}
		
		.about-span-1 {
			padding-left: 3.1rem;
			font-size: 0.3rem;
		}
		
		.about-span-2 {
			padding-left: 2.4rem;
			font-size: 0.3rem;			
		}
		
		.video-img-2 {
			max-width: 23rem !important;
			margin: -4rem 0 0 1.5rem;
		}
		
		.video-h2 {
			font-size: 40px;
			padding-bottom: 1rem;
		}
		
		.video-p-0 {
			font-size: 0.9rem;
			margin-bottom: 0;
		}
		
		.video-p-3 {
			font-size: 0.9rem;
			margin-bottom: 1rem;
		}
		
		.video-div-bar {
			max-width: 100%;
			width: 99% !important;
			padding-left: 20px !important;
			padding-right: 0;
		}
		
		.video-span-0 {
			font-size: 0.3rem;
			padding-left: 0;
		}
		
		.video-span-1 {
			font-size: 0.3rem;
			padding-left: 11.3rem;
		}
		
		.video-span-2 {
			padding-left: 0;
			font-size: 0.9rem;
			color: rgb(191, 191, 191);
		}
		
		.video-span-3 {
			font-size: 0.9rem;
			padding-left: 6.3rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-1 {
			font-size: 0.9rem;
			padding-left: 15.4rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-2 {
			font-size: 0.7rem;
			padding-left: 15.4rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.trademark-div-0 {
			padding-top: 15px;
			text-align: left;
			padding-left: 0;
		}
		
		.trademark-div-1>h2 {
			font-size: 38px !important;
			margin: 0 0 2rem 20px;
		}
		
		.trademark-p-0 {
			margin-bottom: 0;
			margin-left: 20px;
			margin-right: 0;
			font-size: 1rem;
		}
		
		.trademark-div-bar {
			padding-left: 0 !important;
			width: 100% !important;
		}
		
		.trademark-span-1 {
			font-size: 0.3rem;
			padding-left: 8.5rem;
		}
		
		.trademark-image {
			max-width: 70%;
			margin: -4rem 0 7rem 5rem;
		}
		
		.contact-div-3 {
			max-width: 100% !important;
			padding-left: 11rem !important;
			padding-right: 5rem;
		}
	}
	
	@media all and (min-width: 1200px) {
		.banner-div {
			height: 30rem;
		}
		
		.banner-right-img {
			width: 30%;
			height: auto;
			display: block;
			margin: 0px 6rem 0px auto !important;
		}
		
		.fadeInLeft {
			position: relative;
			top: 4.5rem;
			z-index: 2;
		}
		
		.banner-left-p-1 {
			font-size: 1.1rem;
			margin: 0 0 1rem 0;
		}
	
		.banner-left-p-2 {
			font-size: 1rem;
			padding-left: 0rem;
			margin: 0 0 0 3.6rem !important;
			width: 100%;
		}
		
		.download-h3 {
			text-align: left;
			padding: 0 0 0 20px;
		}
		
		.download-h3>h2 {
			font-size: 40px;
		}

		.download-p-0 {
			font-size: 1rem;
			margin-bottom: 0;
			padding-left: 20px;
			text-align: left;
		}
		
		.download-p-2 {
			font-size: 1rem;
			margin-bottom: 2rem;
			padding-left: 20px;
			text-align: left;
		}
		
		.download-bar-1 {
			max-width: 100%;
			font-size: 1.5rem !important;
			padding: 0 0 1rem 20px !important;
			color: #787878 !important;
		}
		
		.download-bar-2 {
			max-width: 100%;
			font-size: 1.5rem !important;
			padding: 0 0 2rem 20px !important;
			color: #787878 !important;
		}
		
		.download-progressbar {
			width: 100%;
			margin: 0 0 0 5px;
		}

		.download-span-0 {
			padding-left: 0;
		}
		
		.download-span-1 {
			padding-left: 6.1rem;
		}
		
		.download-span-2 {
			padding-left: 0;
			color: rgb(191, 191, 191);
			font-size: 1rem;
		}
		
		.download-span-3 {
			padding-left: 4.25rem;
			color: rgb(191, 191, 191);
			font-size: 1rem;
		}
		
		.download-device-mobile {
			max-width: 5.5rem !important;
			margin: 1rem 0 0 2rem;
		}
		
		.download-device-tab {
			max-width: 22.5rem !important;
			margin: 2rem;
		}
		
		.download-device-macbook {
			max-width: 26rem !important;
			margin: 2rem auto 0 auto;
		}
		
		.about-h2 {
			text-align: left;
			padding: 0 0 2rem 0;
		}
		
		.about-p-0 {
			text-align: left;
			margin: 0 6rem 2rem 0;
			font-size: 1rem;
		}
		
		.about-div-bar {
			max-width: 83% !important;
			padding-left: 0 !important;
		}
		
		.bar-wrapper .col-xs-7 {
		    width: 100%;
		    max-width: 100%;
		}
		
		.about-span-0 {
			padding-left: 0;
			font-size: 0.3rem;
		}
		
		.about-span-1 {
			padding-left: 3.7rem;
			font-size: 0.3rem;
		}
		
		.about-span-2 {
			padding-left: 2.8rem;
			font-size: 0.3rem;			
		}
		
		.smart-iwatch {
			width: 100% !important;
			margin: -30px auto 0 !important;
		}
		
		.gallery-section {
			padding: 0 0 7rem 0;
		}
		
		#features {
			padding: 2rem 0 2rem 0;
		}
		
		.features-div-0 {
			max-width: 70%;
		}

		.features-div-1 {
			margin-top: 9rem;
			margin-bottom: 9rem;
			margin-left: 0;
			margin-right: 0;
		}
		
		.features-p-0 {
			margin-bottom: -0.5rem;
			font-size: 13px !important;	
		}
	
		.features-p-1 {
			font-size: 13px !important;	
		}
		
		.features-li-0 {
			margin-top: 5rem;
			margin-bottom: 5rem;
			padding-bottom: 15px !important;
		}
		
		.features-li-1 {
			margin-bottom: 5rem;
			padding-bottom: 15px !important;
		}
		
		.features-li>h6 {
			margin-bottom: 0;
			font-weight: bold;
		}
		
		.video-h2 {
			font-size: 40px !important;
			padding-bottom: 1rem;
		}
		
		.video-div-1 {
			width: 100%;
			text-align: left;
			padding-left: 25px;
		}

		.video-img-1 {
			max-width: 20rem !important;
			margin: 7rem 0 0 7rem;
		}
		
		.video-img-2 {
			max-width: 27rem !important;
			margin: 0 auto 0 0;
			top: 0;
		}
		
		.video-div-bar {
			width: 100% !important;
			padding-left: 25px !important;
			padding-right: 0;
		}
		
		.video-text-1 {
			text-align: left;
			padding: 0 0 2rem 25px;
			font-size: 12px;
		}
		
		.video-text-2 {
			text-align: left;
			padding-left: 25px;
			font-size: 20px;
		}
		
		.video-span-0 {
			font-size: 0.3rem;
			padding-left: 0;
		}
		
		.video-span-1 {
			font-size: 0.3rem;
			padding-left: 14rem;
		}
		
		.video-span-2 {
			padding-left: 0;
			font-size: 1rem;
			color: rgb(191, 191, 191);
		}
		
		.video-span-3 {
			font-size: 1rem;
			padding-left: 7.6rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-0 {
			font-size: 1rem;
			margin-bottom: 0;
		}
		
		.video-p-1 {
			font-size: 1rem;
			padding-left: 18.7rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-2 {
			font-size: 0.8rem;
			padding-left: 18.7rem;
			margin-bottom: -0.5rem;
			color: rgb(191, 191, 191);
		}
		
		.video-p-3 {
			font-size: 1rem;
		}
		
		#trademark {
			padding-bottom: 0;
		}
		
		#trademark>div {
			margin-bottom: 150px;
		}
		
		.trademark-div-0 {
			padding-top: 15px;
			text-align: left;
			padding-left: 0;
		}
		
		.trademark-div-1>h2 {
			font-size: 40px !important;
			margin: 0 0 2rem 0px;
		}
		
		.trademark-p-0 {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 30px;
			font-size: 1rem;
		}
		
		.trademark-image {
			max-width: 70%;
			margin: -7rem 0 3rem 8rem;
		}
		
		.trademark-progress-bar-wrapper {
		    padding-left: 0;
		    padding-right: 0;   	
	   	}
	   	
	   	.trademark-div-bar {
			padding-left: 15px !important;
			width: 94% !important;
		}
		
		.trademark-text-1 {
			text-align: left;
			padding: 0;
			font-size: 12px;
		}
		
		.trademark-span-0 {
			font-size: 0.3rem;
		}
		
		.trademark-span-1 {
			font-size: 0.3rem;
			padding-left: 10.95rem;
		}
		
		.communication-section {
			padding: 12rem 0 12rem 0;
		}
		
		.communication-p-0 {
			font-size: 1rem;
			margin-bottom: 0;
		}
		
		.contact-div-0 {
			padding: 0;
		}
		
		.contact-img {
			max-width: 55px !important;
			margin-top: 50px !important;
		}
		
		.contact-div-1 {
			float: none !important;
			width: 23% !important;
			height: 57% !important;
			left: 38% !important;
			top: 17%;
			background-color: darkgray !important;
			border-radius: 2rem;
		}
		
		.contact-div-1>div {
			margin-bottom: 60px;
		}
		
		.contact-h1 {
			text-align: center;
			font-size: 3rem;
		}
		
		.contact-li {
			font-size: 17px;
			margin-bottom: 30px !important;
		}
		
		.contact-div-2 {
			background: rgb(237, 237, 237);
		}
		
		.contact-div-3 {
			max-width: 100% !important;
			padding-left: 15rem !important;
			padding-right: 10rem;
		}
		
		.contact-h4 {
			font-size: 1.3rem;
		}
		
		.contact-input {
			height: 50px !important;
			font-size: 1rem;
			width: 100%;
			margin: 0;
		}
		
		.contact-input-message {
			height: 150px !important;
			font-size: 1rem;
			width: 100%;
			margin: 0;
		}
		
		.contact-button {
			height: 50px !important;
			width: 30% !important;
			margin: 0;
			display: inline-block;
			padding: 12px 50px !important;
			font-size: 1rem;
		}
		
		.introduce-div-1 {
			max-width: 23%;
		}
		
		.footer-div-0 {
			width: 100%;
			text-align: center;
		}
		
		.footer-p-0 {
			font-size: 35px;
			color: #787878;
			margin-bottom: 100px;
		}
		
		.footer-p-1 {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 3px;
		}
		
		.footer-p-2 {
			font-size: 13px;
			margin-bottom: -7px;
		}
		
		.footer-p-3 {
			font-size: 13px;
			margin-bottom: -7px;
			padding-right: 17px;
		}
		
		.footer-p-4 {
			font-size: 13px;
			margin-bottom: -7px;
			padding-right: 56px;
		}
		
		.footer-p-5 {
			font-size: 13px;
			margin-bottom: -7px;
			padding-right: 37px;
		}
		
		.footer-p-6 {
			font-size: 13px;
			margin-bottom: 60px;
			padding-left: 6px;
		}
		
		.footer-p-7 {
			font-size: 13px;
		}
	}
	

/* Bar css START */

	.bar-wrapper .col-md-3 {
	    line-height: 16px;
	    font-size: 16px;
	    text-transform: uppercase;
	    font-weight: 600;
	    text-align: left;
	    padding-left: 70px;
	    color: #4D748C;
	}
	
	.bar-wrapper .col-md-8 {
	    padding-top: 5px;
	}
	
	.bar-wrapper .col-md-8 .progressBar {
	    height: 10px;
	}
	
	
	/* Progress bars */
	.progressBar {
	    -webkit-animation-name: progressBar;
	    animation-name: progressBar;
	}
	
	@-webkit-keyframes progressBar {
	    0% {
	        opacity: 1;
	        position: relative;
	        transform-origin: left center;
	        transform: scale(.01, 1);
	    }
	    100% {
	        position: relative;
	        transform-origin: left center;
	        opacity: 1;
	        transform: scale(1, 1);
	    }
	}
	
	@keyframes progressBar {
	    0% {
	        opacity: 1;
	        position: relative;
	        transform-origin: left center;
	        transform: scale(.01, 1);
	    }
	    100% {
	        position: relative;
	        transform-origin: left center;
	        opacity: 1;
	        transform: scale(1, 1);
	    }
	}
	
	/* Adding percentage to progress bars */
	
	.bar-wrapper .col-md-1 {
	    color: #4D748C;
	    line-height: 19px;
	    font-size: 19px;
	    font-weight: 700;
	}
	
	
	.bar-wrapper .col-sm-3 {
	    padding-left: 0;
	}
	
	
	.bar-wrapper .col-xs-3 {
	    padding-right: 0;
	}
	
	.bar-wrapper .col-xs-4 {
	    line-height: 12px;
	    font-size: 12px;
	}
	
	.bar-wrapper .col-xs-1 {
	    line-height: 14px;
	    font-size: 14px;
	}
	
	.progress-bar-wrapper {
	    padding-left: 0;
	    padding-right: 0;
	}
   	
   	
/* Bar css END */

/* MAIN SECTION START */
	
/* MAIN SECTION END */

/* Service Section START */

	.service-h3 {
		font-size: 15px !important;
		margin-bottom: 0 !important;
	}
	
	.service-p {
		font-size: 15px !important;
	}
	
	/* Download Section */
	.download-div {
		margin-top: 30px;
	}	
	
	.download-text-1 {
		text-align: left;
		padding: 0 0 2rem 20px;
		font-size: 12px;
	}
	
	.download-text-2 {
		text-align: left;
		padding-left: 20px;
		font-size: 20px;
	}

/* Service Section END*/

/* Feature Section START */

	.features-li>h7 {
		margin-bottom: 1.5;
		font-weight: bold;
	}

/* Feature Section END */

/* About Section START */

	.about-div-0 {
		padding-top: 50px;	
	}
	
	.about-text-1 {
		text-align: left;
		padding: 0;
		font-size: 12px;
	}

/* About Section END */

/* Gallery Section START */

	.gallery-cloud {
		background-color: white;
	}

/* Gallery Section END */

/* Video Production Section START */

	.video-section {
		height: 40rem;
	}
	
	.video-div-0 {
		padding-top: 8rem;
	}

/* Video Production Section END */

/* Trademark development Section START */
	
	.trademark-p-1 {
		margin-bottom: 2rem;
	}
	
/* Trademark development Section END */
	
/* Communication Section START */

	.communication-div {
		width: 100%;
		text-align: left;
	}
	
/* Communication Section END */

/* Contact Section START */

	.contact-div-button {
		text-align: center !important;
	}
	
/* Contact Section END */

/* Introduce Section START */
	
	.introduce-section {
		background-color: rgb(237, 237, 237);
	}
	
	.introduce-div-0 {
		max-width: 80%;
	}
	
	.introduce-div-2 {
		padding: 20px 20px;
	}
	
	.introduce-img-0 {
		width: 65%;
	}
	
	.introduce-img-1 {
		width: 69%;
	}
	
	.introduce-img-2 {
		width: 70.5%;
	}
	
	.introduce-span-0 {
		font-size: 13px;
		font-weight: bold;
	}
	
	.introduce-li-0 {
		margin: 0 0 0 1rem;
	}
	
	.introduce-li-1 {
		margin: 0 0 0 2rem;
	}
	
	.introduce-p-0 {
		font-size: 10px !important;
		text-align: left;
	}
/* Introduce Section END */

/* Footer Section START */

	.footer-div-0 {
		width: 100%;
		text-align: center;
	}
	
	.footer-div-0>div {
		max-width: 100%;
	}
	
/* Footer Section END */