/* -------------- raiz_main SECTION START  -------------- */
	
	#raiz_main .container {
		background: url('../images/test2/mainpage_img.png') no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	#raiz_main .content-wrap {
		width: 450px;
		position: relative;
		top: 27%;
		display: block;
		margin: 0 auto;
		color: rgb(237, 237, 237);
	}
	
	#raiz_main .content-wrap img {
		width: 10px;
		height: 110px;
		position: relative;
		top: -77px;
	}

	#raiz_main .title {
		display: block;
		text-align: center;
		margin-bottom: 4rem;
	}

	#raiz_main h1 {
		font-size: 12rem;
	}

	#raiz_main .sub_title {
		font-size: 2.5rem;
		position: relative;
		top: -30px;
	}
	
	#raiz_main img {
		display: none;
	}

	#raiz_main .desc {
		display: block;
		padding-left: 0;
		position: relative;
		top: -30px;
		text-align: center;
		margin: 0 auto;
	}

	p.accent {
	  font-size: 2.7rem;
	  width: 450px;
	}

	#raiz_main .desc p:nth-child(2) {
	  font-size: 1.91rem;
	  width: 450px;
	}

	div.accent_imp {
	  font-family: nanumsquareEB;
	}
	
/* -------------- raiz_main SECTION END -------------- */

/* -------------- raiz-important SECTION START -------------- */

	#raiz-important .important-list-top {
		height: 400px;
		margin-bottom: 15px;
	}

	#raiz-important .important-list-bottom {
		height: 400px;
		margin-top: 15px;
	}

	#raiz-important .inner-wrap {
		width: 400px;
		height: 100%;
		margin: 0 auto;
		background-color: white;
	}

	#raiz-important .inner-wrap-top {
		width: 400px;
		height: 100%;
		margin: 0 auto;
		background-color: #171C60;
		color: white;
	}

	#raiz-important .inner-wrap-bottom {
		width: 400px;
		height: 100%;
		margin: 0 auto;
		background-color: #A80F23;
		color: white;
	}

	#raiz-important img {
		width: auto;
	}

	#raiz-important .text-wrap {
		height: 0;
		position: relative;
		top: -135px;
	}

	#raiz-important .text-wrap h3 {
		font-weight: bold;
	}

/* -------------- raiz-important SECTION END -------------- */

/* -------------- raiz-section SECTION START -------------- */

	#raiz-section {
		height: 1500px;
	}

	/* ===== web SECTION START ===== */
		
		.raiz-section-web {
			margin-top: 5rem;
			background: url('../images/test2/web_basic_img.png') no-repeat;
		}
	
		.web-inner-wrap {
			width: 262px;
			height: 853px;
			text-align: center;
			color: white;
			margin: 0 auto;
			padding: 20rem 0;
		}
		
		.raiz-section-art .title-wrap h1 {
			font-size: 30px;
		}

		.sub-title-wrap {
			font-size: 30px;
			font-weight: bold;
			color: #6E7479;
			background-color: white;
			margin: 0 2.5rem 4rem 2.5rem;
		}
		
		.web-inner-wrap .desc {
			font-size: 18px;
		}
		
		.web-inner-wrap .desc-main {
			padding: 0 1rem 2rem 1rem;
		}
		
		.web-inner-wrap .desc-sub {
			margin-bottom: 2rem;
		}
		
		.web-desc-body-0 {
			font-size: 0.8em;
		}
		
		.web-desc-body-1 {
			font-size: 0.87em;
		}

		.web-desc-body-2 {
			font-size: 0.87em;
		}

		.web-desc-body-3 {
			font-size: 0.81em;
		}

		.web-inner-wrap .desc p:nth-child(2) {
			font-size: 0.8em;
		}
		
		.web-inner-wrap .desc p:nth-child(3) {
			font-size: 0.8em;
		}

	/* ===== web SECTION END ===== */

	/* ===== art SECTION START ===== */

		.raiz-section-art {
			background: url('../images/test2/web_art_img.png') no-repeat;
			height: 853px;
			margin-top: 5rem;
		}

		.art-inner-wrap {
			width: 412px;
			margin: 23rem auto;
		}

		.raiz-section-art .title-img {
			margin-bottom: 3rem;
		}
		
		.raiz-section-art .title-img img {
			width: 100%;
		}
		
		.raiz-section-art .title-wrap h2 {
			font-size: 23px;
		}

		.raiz-section-art .title-wrap {
			margin-bottom: 4rem;
			color: white;
		}

		.art-color {
			color: #B3273A;
		}
		
		.art-inner-wrap .desc {
			font-size: 22px;
			color: white;
		}
		
		.art-inner-wrap .desc {
			font-size: 17px;
		}

	/* ===== art SECTION END ===== */
	
	/* -------------- raiz-cardlist-top SECTION START -------------- */

		.raiz-cardlist-top {
			margin-top: 5rem;
		}

		/* ===== app SECTION START ===== */

			.app-inner-wrap {
				height: 550px;
				margin-bottom: 30px;
				background-color: white;
				min-width: 400px;
			}
			
			.app-inner-wrap .title-img {
				padding-top: 45px;
			}
			
			.app-inner-wrap img {
				width: 265px;
			}
			
			.app-inner-wrap .title-wrap h1 {
				color: black;
				font-size: 36px;
			} 
			
			.app-inner-wrap .desc {
				width: 390px;
				margin: 0 auto;
			}
			
			.app-inner-wrap .desc-main {
				font-size: 20px;
				margin-bottom: 2rem;
			}
			
			.app-inner-wrap .desc-sub {
				font-size: 17px;
				line-height: 1.2
			}

		/* ===== app SECTION END ===== */

		/* ===== maintenance SECTION START ===== */

			.maintenance-inner-wrap {
				background: url('../images/test2/web_maintenance_img.png') no-repeat 100%;
				height: 550px;
				min-width: 400px;
				color: white;
				background-size: cover;
			}

			.maintenance-inner-wrap h1 {
				width: 170px;
				font-weight: bold;
				border-width: 3px;
				border-bottom: 1px solid;
				padding-bottom: 2rem;
				margin: 0 auto 2rem auto;
			}

			.maintenance-inner-wrap .title-wrap {
				padding-top: 33rem;
			}

			.maintenance-inner-wrap .desc {
				width: 188px;
				margin: 0 auto;
				font-size: 15px;
			}
			
			.maintenance-desc-sub {
				letter-spacing: 0.4px;
			}

		/* ===== maintenance SECTION END ===== */
	
	/* -------------- raiz-cardlist-top SECTION END -------------- */

	/* -------------- raiz-cardlist-bottom SECTION START -------------- */

		.raiz-cardlist-bottom {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		
		/* ===== multilanguage SECTION START ===== */

			.multilan-inner-wrap {
				background: url('../images/test2/multilanguage_bg.png') no-repeat;
				height: 550px;
				min-width: 400px;
				margin-bottom: 30px;
				background-size: cover;
			}
			
			.multilan-inner-wrap .title-wrap {
				text-align: center;
				padding-top: 9rem;
			}
			
			.multilan-inner-wrap .title-wrap img {
				width: 280px;
			}
			
		/* ===== multilanguage SECTION END ===== */

		/* ===== trademark SECTION START ===== */
			.trademark-inner-wrap {
				height: 610px;
				background-color: #B00E23;
				color: white;
			}
			
			.trademark-inner-wrap .title-img {
				padding-top: 10rem;
			}
			
			.trademark-inner-wrap .title-img img {
				width: 145px;
			}
			
			.trademark-inner-wrap .title-wrap h1 {
				font-weight: bold;
				font-size: 39px;
				margin-top: 0;
				padding-top: 3rem;
			}
			
			.trademark-inner-wrap .desc {
				font-size: 15px;
			}
			
			.trademark-inner-wrap .desc-body-0 {
				letter-spacing: 2px;
			}
			
			.trademark-inner-wrap .desc-body-1 {
				letter-spacing: 1.9px;
			}
			
			.trademark-inner-wrap .desc-body-2 {
				letter-spacing: 0.7px;
			}
			
			.trademark-inner-wrap .desc-body-3 {
				letter-spacing: 1.6px;
			}
			
			.trademark-inner-wrap .desc-body-4 {
				letter-spacing: 0
			}
			
		/* ===== trademark SECTION END ===== */

	/* -------------- raiz-cardlist-bottom SECTION START -------------- */

/* -------------- raiz-section SECTION END -------------- */

/* -------------- raiz-edit SECTION START -------------- */

	#raiz-edit .container {
		background: url('../images/test2/pic_video_img.png') no-repeat;
		background-size: cover;
		height: 100%;
		color: white;
	}
	
	#raiz-edit .content-wrap-top {
		width: 600px;
		padding-top: 21rem;
		padding-left: 6rem;
	}
	
	#raiz-edit .content-wrap-top h1 {
		padding-bottom: 3rem;
		font-size: 32px;
		font-weight: bold;
	}
	
	#raiz-edit .content-wrap-top .desc {
		font-size: 15px;
		padding-bottom: 6rem;
	}
	
	#raiz-edit .content-wrap-top .desc div:nth-child(1) {
		padding-bottom: 1.5rem;
	}
	
	#raiz-edit .content-wrap-top .desc div:nth-child(2) {
		padding-bottom: 1.5rem;
	}
	
	.divide-line {
		width: 280px;
		margin-left: 6rem;
		border: 1px solid;
	}
	
	#raiz-edit .content-wrap-bottom {
		width: 650px;
		padding-top: 6rem;
		padding-left: 6rem;
	}
	
	#raiz-edit .content-wrap-bottom h1 {
		font-size: 32px;
		font-weight: bold;
		padding-bottom: 3rem;
		margin-top: 0;
	}
	
	#raiz-edit .content-wrap-bottom .desc {
		font-size: 15px;
	}
	
	#raiz-edit .content-wrap-bottom .desc div:nth-child(1) {
		padding-bottom: 1.5rem;
	}

/* -------------- raiz-edit SECTION END -------------- */

/* -------------- raiz-portfolio SECTION START -------------- */

	#raiz-portfolio .container {
		min-width: 460px;
	}
	
	#raiz-portfolio .title-wrap {
		width: 165px;
		text-align: center;
		border-bottom: solid 1px;
		margin: 0 auto;
	}

	#raiz-portfolio ul {
		padding: 0;
	}

	#raiz-portfolio ul li {
		text-align: center;
		padding: 0;
	}
	
	#raiz-portfolio ul li img {
		width: 100%;
		opacity: 1;
	}
	
	#raiz-portfolio ul li h4 {
		padding: 18.2rem 2rem;
	}

/* -------------- raiz-portfolio SECTION END -------------- */

/* CONTACT SECTION START */
	#raiz-contact {
		background: rgb(237, 237, 237);
	}

	#google_map {
		height: 450px;
		z-index: 10;
	}
	
	.contact {
		height: 450px;
		background-color: rgb(237, 237, 237);
	}
	
	.contact .mini-container {
/* 		padding: 3rem 0; */
    }
    
    .map {
    	height: auto;
    }
    
    .map .map-inner .map-pin {
        margin: -85px auto;
        z-index: 10;
    }
    
    .contact-front {
    	position: relative;
    	width: 100%;
    	height: 35rem;
    }
/* CONTACT SECTION END */

/* FOOTER SECTION START */
	.footer-section {
		color: white;
		background: url('../images/test/footer_back.jpg') no-repeat 100%;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	.footer-area {
		width: 420px;
		background: rgba(0, 0, 0, 0.6);
		margin: 0 auto 22rem auto;
		padding: 3rem;
	}
	
	.footer-area>div:nth-child(1) {
		float: none;
		padding: 0 2rem 2rem 0;
		font-size: 3rem;
		font-weight: bold;
		text-align: center;
	}
	
	.footer-area img {
		display: none;
	}
	
	.footer-support {
		display: inline-block;
		font-size: 1.5rem;
		padding-top: 0.3rem;
	}
	
	.footer-text {
		text-align: right;
		padding-right: 2rem;
		display: inline-block;
		width: 90px;
	}

	.footer-corporate {
		width: 180px;
		margin: 3rem auto 0 auto;
	}

	.footer-corporate>p {
		margin-bottom: 0;
	}

	.footer-corporate>p:nth-child(1) {
		font-size: 2.5rem;
		font-weight: bold;
	}

	.footer-corporate .footer-info {
		font-size: 10.8px;
	}
	
	.footer-rights {
		font-size: 10.8px;
		margin-left: 0;
		text-align: center;
	}
/* FOOTER SECTION END */


@media all and (min-width: 576px) {

	/* -------------- raiz-section SECTION START -------------- */

		/* -------------- raiz-cardlist-top SECTION START -------------- */

			/* ===== app SECTION START ===== */
	
				.app-inner-wrap {
					height: 610px;
				}
				
				.app-inner-wrap img {
					width: 310px;
				}

			/* ===== app SECTION END ===== */

			/* ===== maintenance SECTION START ===== */

				.maintenance-inner-wrap {
					height: 610px;
				}

				.maintenance-inner-wrap h1 {
					font-size: 47px;
				}
				
				.maintenance-inner-wrap .title-wrap {
					padding-top: 38rem;
				}
	
			/* ===== maintenance SECTION END ===== */
		
		/* -------------- raiz-cardlist-top SECTION END -------------- */
		
		/* -------------- raiz-cardlist-bottom SECTION START -------------- */

			/* ===== multilanguage SECTION START ===== */

				.multilan-inner-wrap {
					height: 610px;
				}
				
				.multilan-inner-wrap .title-wrap {
					padding-top: 6rem;
				}
				
				.multilan-inner-wrap .title-wrap img {
					width: auto;
				}
			
			/* ===== multilanguage SECTION END ===== */

			/* ===== trademark SECTION START ===== */
			
				.trademark-inner-wrap .title-img img {
					width: 155px;
				}

			/* ===== trademark SECTION END ===== */
	
		/* -------------- raiz-cardlist-bottom SECTION START -------------- */

	/* -------------- raiz-section SECTION END -------------- */
	
	/* FOOTER SECTION START */
		.footer-area {
			width: 560px;
			background: rgba(0, 0, 0, 0.6);
			margin: 0 auto 22rem auto;
			padding: 4.2rem 4rem 1.8rem 4rem;
		}
		
		.footer-area>div:nth-child(1) {
			float: left;
			padding: 0 2rem 0 0;
			font-size: 3rem;
			font-weight: bold;
			text-align: left;
		}
		
		.footer-area img {
			display: inline;
		}
		
		.footer-support {
			display: inline-block;
			font-size: 1.5rem;
			padding-top: 0.3rem;
		}
		
		.footer-text {
			text-align: right;
			padding-right: 2rem;
			display: inline-block;
			width: 90px;
		}
	/* FOOTER SECTION END */

}

@media all and (min-width: 768px) {
	/* -------------- raiz_main SECTION START  -------------- */

		#raiz_main .content-wrap {
			width: 729px;
			top: 37%;
		}

		#raiz_main .content-wrap img {
			height: 93px;
			top: -67px;
		}

		#raiz_main .title {
			display: inline-block;
			padding-right: 2rem;
			margin-bottom: 0;
		}
	
		#raiz_main h1 {
			font-size: 10rem;
		}
	
		#raiz_main .sub_title {
			font-size: 2rem;
		}

		#raiz_main img {
			display: inline-block;
		}
			
		#raiz_main .desc {
			display: inline-block;
			padding-left: 2rem;
			text-align: left;
		}
	
		p.accent {
		  font-size: 2.3rem;
		  width: auto;
		}
	
		#raiz_main .desc p:nth-child(2) {
		  font-size: 1.65rem;
		  width: 508px;
		}

	/* -------------- raiz_main SECTION END -------------- */
	
	/* -------------- raiz-important SECTION START -------------- */

		#raiz-important .inner-wrap {
			width: 100%;
		}
		
		#raiz-important .inner-wrap-top {
			width: 100%;
		}
	
		#raiz-important .inner-wrap-bottom {
			width: 100%;
		}
	
		#raiz-important .important-list-top {
			margin-top: 15px;
		}
	
		#raiz-important .important-list-bottom {
			margin-bottom: 15px;
		}
		
		#raiz-important img {
			width: 100%;
		}

		#raiz-important h3.title {
			font-size: 21px;
			margin-top: 60px;
		}

		#raiz-important p.desc {
			font-size: 13px;
		}

	/* -------------- raiz-important SECTION END -------------- */

	/* -------------- raiz-section SECTION START -------------- */
		
		/* ===== web SECTION START ===== */

			.raiz-section-web {
				background: url('../images/test2/web_basic_img.png') no-repeat;
			}
		
			.web-inner-wrap {
				width: 40%;
				margin: 0 13rem 0 auto;
				padding: 20rem 0;
			}
			
			.web-inner-wrap .title-wrap h1 {
				font-size: 36px;
			}
	
			.web-inner-wrap .sub-title-wrap {
				font-size: 36px;
				margin: 0 4rem 4rem 4rem;
			}
			
			.web-inner-wrap .desc {
				font-size: 19px;
			}

			.web-inner-wrap .desc-main {
				padding: 0 2rem 2rem 2rem;
			}
			
			.web-inner-wrap .desc-sub {
				margin-bottom: 2rem;
			}

			.web-desc-body-0 {
				font-size: 0.915em;
			}
			
			.web-desc-body-1 {
				font-size: 1em;
			}

			.web-desc-body-2 {
				font-size: 1em;
			}

			.web-desc-body-3 {
				font-size: 0.915em;
			}
			
			.web-inner-wrap .desc p:nth-child(2) {
				font-size: 1em;
			}
			
			.web-inner-wrap .desc p:nth-child(3) {
				font-size: 1em;
			}

		/* ===== web SECTION END ===== */
		
		/* ===== art SECTION START ===== */

			.art-inner-wrap {
				width: 95%;
				margin: 23rem auto;
			}

			.art-inner-wrap .title-img img {
				width: 88%;
			}

			.art-inner-wrap .title-wrap h2 {
				font-size: 24px;
			}

			.art-inner-wrap .desc {
				font-size: 18px;
			}
			
			.art-inner-wrap .desc-top {
				font-size: 18.2px;
				letter-spacing: 0.1px;
			}
	
		/* ===== art SECTION END ===== */

		/* -------------- raiz-cardlist-top SECTION START -------------- */

			/* ===== app SECTION START ===== */

				.app-inner-wrap img {
					width: 52%;
				}

			/* ===== app SECTION END ===== */

			/* ===== maintenance SECTION START ===== */

				.maintenance-inner-wrap {
					height: 610px;
				}

				.maintenance-inner-wrap h1 {
					font-size: 38px;
				}
	
			/* ===== maintenance SECTION END ===== */
		
		/* -------------- raiz-cardlist-top SECTION END -------------- */
		
		/* -------------- raiz-cardlist-bottom SECTION START -------------- */

			.trademark-inner-wrap .title-img img {
				width: 23%;
			}
			
			.trademark-inner-wrap .desc-body-0 {
				letter-spacing: 2px;
			}
			
			.trademark-inner-wrap .desc-body-1 {
				letter-spacing: 1.9px;
			}
			
			.trademark-inner-wrap .desc-body-2 {
				letter-spacing: 0.7px;
			}
			
			.trademark-inner-wrap .desc-body-3 {
				letter-spacing: 1.5px;
			}
			
			.trademark-inner-wrap .desc-body-4 {
				letter-spacing: 0
			}

		/* -------------- raiz-cardlist-bottom SECTION END -------------- */

	/* -------------- raiz-section SECTION END -------------- */
	
	/* -------------- raiz-edit SECTION START -------------- */
		
		#raiz-edit .content-wrap-top {
			padding-top: 13rem;
		}

		#raiz-edit .content-wrap-top h1 {
			padding-bottom: 4rem;
			font-size: 38px;
		}
		
		#raiz-edit .content-wrap-top .desc {
			font-size: 18px;
			padding-bottom: 8rem;
		}
		
		#raiz-edit .content-wrap-top .desc div:nth-child(1) {
			padding-bottom: 2rem;
		}
		
		#raiz-edit .content-wrap-top .desc div:nth-child(2) {
			padding-bottom: 2rem;
		}
		
		.divide-line {
			width: 340px;
		}
		
		#raiz-edit .content-wrap-bottom {
			padding-top: 8rem;
		}
		
		#raiz-edit .content-wrap-bottom h1 {
			padding-bottom: 4rem;
			font-size: 38px;
		}
		
		#raiz-edit .content-wrap-bottom .desc {
			font-size: 18px;
		}
		
		#raiz-edit .content-wrap-bottom .desc div:nth-child(1) {
			padding-bottom: 2rem;
		}
	
	/* -------------- raiz-edit SECTION END -------------- */
	
	/* CONTACT SECTION START */
		#google_map {
			height: 450px;
			z-index: 10;
		}

		.map .map-inner .map-pin {
			margin: -2.5rem auto;
	    }

	    .contact .mini-container {
	    	width: 85%;
/* 			padding: 18.5rem 0 18rem 25%; */
	    }
	/* CONTACT SECTION END */
	
	/* FOOTER SECTION START */
		.footer-corporate {
			margin: 3rem 0 0 36rem;
		}

		.footer-area {
			background: rgba(0, 0, 0, 0.6);
			margin: 0 auto 22rem auto;
			padding: 4.2rem 4rem 1.8rem 4rem;
		}
		
		.footer-area>div:nth-child(1) {
			float: left;
			padding: 0 2rem 0 0;
			font-size: 3rem;
			font-weight: bold;
		}
		
		.footer-support {
			display: inline-block;
			font-size: 1.5rem;
			padding-top: 0.3rem;
		}
		
		.footer-text {
			text-align: right;
			padding-right: 2rem;
			display: inline-block;
			width: 90px;
		}
		
		.footer-rights {
			margin-left: 335px;
			text-align: left;
		}
	/* FOOTER SECTION END */
}

@media all and (min-width: 992px) {
	/* -------------- raiz_main SECTION START  -------------- */

		#raiz_main .content-wrap {
			width: 875px;
		}

		#raiz_main .content-wrap img {
			height: 110px;
			top: -77px;
		}

		#raiz_main .title {
			padding-right: 3rem;
		}

		#raiz_main h1 {
			font-size: 12rem;
		}

		#raiz_main .sub_title {
			font-size: 2.5rem;
		}

		#raiz_main .desc {
			padding-left: 3rem;
		}
	
		p.accent {
		  font-size: 2.7rem;
		}
	
		#raiz_main .desc p:nth-child(2) {
		  font-size: 1.91rem;
		  width: 600px;	
		}

	/* -------------- raiz_main SECTION END -------------- */
	
	/* -------------- raiz-important SECTION START -------------- */

		#raiz-important .important-list-top {
			height: auto;
			margin-top: 15px;
		}
	
		#raiz-important .important-list-bottom {
			height: auto;
			margin-bottom: 15px;
		}
		
		#raiz-important h3.title {
			font-size: 21px;
			margin-top: 20px;
			margin-bottom: 17px;
		}

		#raiz-important p.desc {
			font-size: 1em;
		}

	/* -------------- raiz-important SECTION END -------------- */

	/* -------------- raiz-section SECTION START -------------- */

		/* ===== web SECTION START ===== */

			.web-inner-wrap {
				padding: 20rem 0;
			}
			
			.web-inner-wrap .title-wrap h1 {
				font-size: 45px;
			}

			.web-inner-wrap .desc-main {
				padding: 0 5rem 2rem 5rem;
			}
			
			.web-inner-wrap .sub-title-wrap {
				font-size: 45px;
				margin: 0 6rem 4rem 6rem;
			}
			
			.web-inner-wrap .desc {
				font-size: 20px;
			}
			
			.web-desc-body-0 {
				font-size: 1em;
			}

			.web-desc-body-1 {
				font-size: 1.1em;
			}

			.web-desc-body-2 {
				font-size: 1.1em;
			}

			.web-desc-body-3 {
				font-size: 1.01em;
			}

		/* ===== web SECTION END ===== */
		
		/* ===== art SECTION START ===== */

			.art-inner-wrap {
				width: 65%;
				margin: 15rem 4rem 0 auto;
			}

			.art-inner-wrap .title-img img {
				width: 100%;
			}

			.art-inner-wrap .title-wrap h2 {
				font-size: 23px;
			}

			.art-inner-wrap .desc {
				font-size: 17px;
			}
			
			.art-inner-wrap .desc-top {
				font-size: 17.2px;
				letter-spacing: 0.1px;
			}
	
		/* ===== art SECTION END ===== */
		
		/* -------------- raiz-cardlist-top SECTION START -------------- */

			/* ===== app SECTION START ===== */
	
				.app-inner-wrap {
					height: 455px;
					margin-bottom: 0;
				}

				.app-inner-wrap .title-wrap h1 {
					font-size: 29px;
				} 
				
				.app-inner-wrap .desc-main {
					font-size: 19px;
				}

				.app-inner-wrap .desc-sub {
					font-size: 15px;
				}
	
			/* ===== app SECTION END ===== */
	
			/* ===== maintenance SECTION START ===== */
	
				.maintenance-inner-wrap {
					height: 455px;
					background: url('../images/test2/web_maintenance_img.png') no-repeat 100%;
				}

				.maintenance-inner-wrap .title-wrap {
					padding-top: 28rem;
				}

				.maintenance-inner-wrap h1 {
					width: 135px;
				}
	
				.maintenance-inner-wrap .desc {
					width: 160px;
					font-size: 13px;
				}

			/* ===== maintenance SECTION END ===== */
		
		/* -------------- raiz-cardlist-top SECTION END -------------- */
		
		/* -------------- raiz-cardlist-bottom SECTION START -------------- */

			/* ===== multilanguage SECTION START ===== */

				.multilan-inner-wrap {
					margin-bottom: 0;
					height: 455px;
					background-size: auto;
				}

				.multilan-inner-wrap .title-wrap img {
					width: 52%;
				}

			/* ===== multilanguage SECTION END ===== */

			/* ===== trademark SECTION START ===== */

				.trademark-inner-wrap {
					height: 455px;
				}
				
				.trademark-inner-wrap .title-img {
					padding-top: 6.5rem;
				}

				.trademark-inner-wrap .title-wrap h1 {
					font-size: 39px;
				}
				
				.trademark-inner-wrap .desc-body-0 {
					letter-spacing: 2px;
				}
				
				.trademark-inner-wrap .desc-body-1 {
					letter-spacing: 2px;
				}
				
				.trademark-inner-wrap .desc-body-2 {
					letter-spacing: 0.8px;
				}
				
				.trademark-inner-wrap .desc-body-3 {
					letter-spacing: 1.6px;
				}
				
				.trademark-inner-wrap .desc-body-4 {
					letter-spacing: 0;
				}

			/* ===== trademark SECTION END ===== */

		/* -------------- raiz-cardlist-bottom SECTION END -------------- */

	/* -------------- raiz-section SECTION END -------------- */
	
	/* -------------- raiz-portfolio SECTION START -------------- */

		ul {
			padding: 0 0 0 30px;
		}

		ul li {
			text-align: left;
		}

	/* -------------- raiz-portfolio SECTION END -------------- */
	
	/* CONTACT SECTION START */
		#google_map {
			height: 849px;
			z-index: 10;
		}
		
		.contact {
			height: 849px;
		}

	    .map {
	    	height: 849px;
	    }
	    
	    .map .map-inner .map-pin {
	      margin: 14rem auto;
	    }

	    .contact .mini-container {
	    	width: 500px;
/* 			padding: 18.5rem 0 18rem 25%; */
	    }
	    
	    .contact-front {
	    	position: relative;
	    	z-index: 15;
	    	width: 25rem;
	    	height: 35rem;
	    }
	/* CONTACT SECTION END */

}

@media all and (min-width: 1200px) {

	.container {
		width: 1280px;
	}

	/* -------------- raiz-important SECTION START -------------- */

		#raiz-important .important-list-top {
			height: 400px;
			margin-top: 0;
		}
	
		#raiz-important .important-list-bottom {
			height: 400px;
			margin-bottom: 0;
		}

	/* -------------- raiz-important SECTION END -------------- */

	/* -------------- raiz-section SECTION START -------------- */
		
		/* ===== web SECTION START ===== */
		
			.raiz-section-web {
				background: url('../images/test2/web_basic_img.png') no-repeat 80%;
			}
			
			.web-inner-wrap .title-wrap h1 {
				font-size: 45px;
			}

			.web-inner-wrap {
				padding: 20rem 5rem;
			}
			
			.web-inner-wrap .sub-title-wrap {
				font-size: 45px;
				margin: 0 7rem 4rem 7rem;
			}

			.web-inner-wrap .desc-main {
				padding: 0 6rem 2rem 6rem;
			}
			
			.web-inner-wrap .desc {
				font-size: 20px;
			}

		/* ===== web SECTION END ===== */

		/* ===== art SECTION START ===== */

			.art-inner-wrap {
				margin: 9rem 1rem 0 auto;
			}

			.art-inner-wrap .title-img img {
				width: auto;
			}

			.art-inner-wrap .title-wrap h2 {
				font-size: 30px;
			}

			.art-inner-wrap .desc {
				font-size: 22px;
			}
			
			.art-inner-wrap .desc-top {
				font-size: 22.2px;
				letter-spacing: 0.15px;
			}
	
		/* ===== art SECTION END ===== */
		
		/* -------------- raiz-cardlist-top SECTION START -------------- */

			/* ===== app SECTION START ===== */
	
				.app-inner-wrap {
					height: 610px;
				}

				.app-inner-wrap .title-wrap h1 {
					font-size: 36px;
					margin-top: 3rem;
				}
				
				.app-inner-wrap .desc-main {
					font-size: 20px;
					margin-top: 3rem;
					margin-bottom: 3rem;
				}

				.app-inner-wrap .desc-sub {
					font-size: 15px;
				}
	
			/* ===== app SECTION END ===== */
	
			/* ===== maintenance SECTION START ===== */
	
				.maintenance-inner-wrap {
					height: 610px;
					background: url('../images/test2/web_maintenance_img.png') no-repeat;
				}

				.maintenance-inner-wrap .title-wrap {
					padding-top: 38rem;
				}

				.maintenance-inner-wrap h1 {
					width: 140px;
				}
	
				.maintenance-inner-wrap .desc {
					width: 188px;
					font-size: 15px;
				}
	
			/* ===== maintenance SECTION END ===== */
		
		/* -------------- raiz-cardlist-top SECTION END -------------- */
		
		/* -------------- raiz-cardlist-bottom SECTION START -------------- */

			/* ===== multilanguage SECTION START ===== */
	
				.multilan-inner-wrap {
					margin-bottom: 0;
					height: 610px;
				}
				
				.multilan-inner-wrap .title-wrap img {
					width: auto;
				}
				
			/* ===== multilanguage SECTION END ===== */
			
			/* ===== trademark SECTION START ===== */
				.trademark-inner-wrap {
					height: 610px;
				}
				
				.trademark-inner-wrap .title-img {
					padding-top: 10rem;
				}
				
				.trademark-inner-wrap .title-img img {
					width: 28%;
				}
				
				.trademark-inner-wrap .title-wrap h1 {
					font-size: 39px;
				}
				
				.trademark-inner-wrap .desc-body-0 {
					letter-spacing: 2.1px;
				}
				
				.trademark-inner-wrap .desc-body-1 {
					letter-spacing: 2.1px;
				}
				
				.trademark-inner-wrap .desc-body-2 {
					letter-spacing: 0.8px;
				}
				
				.trademark-inner-wrap .desc-body-3 {
					letter-spacing: 1.7px;
				}
				
				.trademark-inner-wrap .desc-body-4 {
					letter-spacing: 0;
				}
			/* ===== trademark SECTION END ===== */

		/* -------------- raiz-cardlist-bottom SECTION END -------------- */

		/* CONTACT SECTION START */
			#google_map {
				height: 849px;
				z-index: 10;
			}
			
			.contact {
				height: 849px;
			}
			
			.map .map-inner .map-pin {
		      margin: 14rem auto;
		    }
		    
		    .contact .mini-container {
		    	width: 59%;
				padding: 5.5rem 0 18rem 0;
				margin: 0 auto;
		    }
		    
		    .contact-front {
		    	position: relative;
		    	z-index: 15;
		    	width: 25rem;
		    	height: 35rem;
		    }
		/* CONTACT SECTION END */
	
	/* -------------- raiz-section SECTION END -------------- */
	
}